p.center {
  text-align: justify;
  color: black;
}

p.center1 {
  text-align: justify;
  color: blue;
}

#press_botton {
  color: #f00;
  background: #00F;
  border-radius: 10px;
  padding: 20px 20px;
}

.image {
border-radius: 30px 0px;
}

#press_botton1 {
  color: red;
  border-radius: 30px;
  padding: 10px 10px;
  border: 15px solid green;
}

#press_botton2 {
  color: green;
  border-radius: 30px;
  padding: 10px 10px;
  border: 15px solid blue;
}
